# Use one of the following:
AIS_API_KEY=your_vesselfinder_userkey
# OR for MarineTraffic/Kpler
MARINETRAFFIC_API_KEY=your_marinetraffic_api_key



# Important note:
# Following the acquisition of Spire Maritime by Kpler, we are discontinuing the APIs and services described in this documentation.
 # If you are looking for Kpler’s maritime data solutions, please check developers.kpler.com and for migration support, please contact cs@kpler.com.